# 4th feb assignment

### 1.create a python program to sort the given list of tuples based on integer value using a lambda function.
[('sachin tendulkar',34357),('ricky ponting',27483),('jack kallis',25534),('virat kohli',24936)]

## ans:-

In [1]:

tuples_list = [('sachin tendulkar',34357),('ricky ponting',27483),('jack kallis',25534),('virat kohli',24936)]

sorted_tuples = sorted(tuples_list, key=lambda x: x[1])

for tuple_item in sorted_tuples:
    print(tuple_item)

('virat kohli', 24936)
('jack kallis', 25534)
('ricky ponting', 27483)
('sachin tendulkar', 34357)

## 2 . write a python program to find the squares of all the numbers in the given list of integers using lamda and map functions.
[1,2,3,4,5,6,7,8,9,10]

## ans:-

In [2]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 3. write a python program to convert the given list of integers into tuple of strings . use map and lambda functions.
given string : [1,2,3,4,5,6,7,8,9,10]

## ans:-

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x: str(x), numbers))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

 ## 4 .write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

## ans:-

In [5]:
from functools import reduce
numbers = list(range(1, 26))
reduce(lambda x, y: x * y, numbers)

15511210043330985984000000

## 5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2,3,6,9,27,60,90,120,55,46]

In [10]:
l= [2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x: x % 2 == 0 and x % 3 == 0, l))

[6, 60, 90, 120]

## 6 . write a python program to find palindromes in the given list of strings using lambda and filter function.
['python','php','aba','radar','level']

In [12]:
str1 = ['python', 'php', 'aba', 'radar', 'level']
list(filter( lambda x: x == x[::-1], str1))

['php', 'aba', 'radar', 'level']